<head>

<style>
body {font-family: Verdana, sans-serif; margin:0}
body{background-color: rgb(182, 217, 247);}
</style>
</head>

<body>
<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-20 mt-5 mx-auto">
          
        <div class="card-header"><h1 class="text-center text-danger fw-bold">FAQ</h1></div>
              <br>
          <div class="box">
              <br>
              <div class="faqs">
                  <img src="" style="width:100%">
                 <details>
                    <summary>What does Futsal mean?</summary>
                    <br>
                    <p align="center" class="text text-danger">The name is derived from the Portuguese Futebol De Salao and the Spanish words Futbol De Salon, abbreviated to Futbol Sala, meaning Hall Football or Indoor Football.
                      </p>
                 </details>
                 <details>
                    <summary>What is the difference between Futsal and Football (Soccer)?</summary>
                    <br>
                    <p align="center" class="text text-danger">Futsal is played indoors and all year around, no seasonality restrictions here! The ball is a size 4 which is one size smaller and a little heavier, 
                      promoting technical skill development, intricate passing and movement in smaller environments.
                      </p>
                 </details>
                 <details>
                    <summary>What are the uniform requirements to play Futsal?</summary>
                    <br>
                    <p align="center" class="text text-danger">Players are required to wear tops of the same colour. Footwear is required to be flat, non-marking shoes, preferably Futsal specific shoes. 
                      Turf shoes, or other marking type footwear are not allowed to be utilised indoor and players will be asked to leave the court to change footwear. 
                      Turf shoes however for Outdoor 5s are however perfect footwear.
                    </p>
                 </details>
                 <details>
                  <summary>What if we have never played before?</summary>
                  <br>
                  <p align="center" class="text text-danger">KUPTM Eagles caters to all standards of play. If you have never played before, we will introduce the game to you, 
                      give you a few tips and place you in a competition suitable to your abilities</p>
               </details>
              </div>
           </div>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
      </div>
  </div>

