<head>
<style>
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
body{background-color: rgb(182, 217, 247);}

h1 {text-align: center;
color:rgb(0, 0, 0);
font-family:'Cavolini', Times, serif;
font-size: 66px;
}

h2 {text-align: center;
color:rgb(25, 0, 255);
font-family:'Times New Roman', Times, serif;
font-size: 24px;
}

h5 {text-align: center;
color:rgb(20, 20, 20);
font-family:'Cavolini', Times, serif;

}
</style>
</head>

<body>
<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">
          
        <div class="card-header"><h1 class="text-center" class="text-black bg-white">About</h1></div>
              <br>
              <img src="./assets/volley7.jpg" style="width:100%" class="card border-danger mb-3">
              <br>
              <br>
              <h5 align-text="center">We bring the highest level of futsal to players, coaches and fans across the globe through our leagues, tournaments, camps and experiences. 
                Perak State Volleyball Association is the ultimate performance stage for a young volleyball players. The program offers players the opportunity to train, compete and live the life of a professional volleyball player.
              </h5>
          <br>
          <br>
          <br>
          <h1 id="tagging" style="text-align:center" align-text="center" class="text-black bg-white">ADMINISTRATORS
          </h1>
          <br>
          <br>
            <div class="row">

              <div class="column">
                <div class="card" class="card border-light mb-3">
                  <img src="./assets/ameer.jpg"  style="width:100%">
                  <div class="container">
                    <br>
                    <h2 style="text-align:center" >AMEER NAJMEE BIN CHE JAN</h2>
                    <p class="title" style="text-align:center" >Administrator</p>
                    <p style="text-align:center" >📷: meerj.ee</p>
                  </div>
                </div>
                <br>
                <br>

              <div class="column">
                <div class="card" class="card border-light mb-3">
                  <img src="./assets/saif.jpg" style="width:100%">
                  <div class="container" >
                    <br>
                    <h2 style="text-align:center">SAIFDINIE IFWAT BIN MUHAMMAD ZAIDI</h2>
                    <p class="title" style="text-align:center">Administrator</p>
                    <p style="text-align:center">📷: saifdinie_</p>
                  </div>
                  
                </div>
                <br>
            <br>
              </div>
              
                <div class="column">
                  <div class="card" class="card border-light mb-3">
                    <img src="./assets/khalis.jpg" style="width:100%">
                    <div class="container">
                      <br>
                      <h2 style="text-align:center" >AHMAD KHALIS AFFANDI BIN AHMAD KHAIRRY</h2>
                      <p class="title" style="text-align:center" >Administrator</p>
                      <p style="text-align:center" >📷: ahmad_khalis</p>
                    </div>
                  </div>
                  <br>
                <br>
                </div>
                
                <div class="column">
                  <div class="card" class="card border-light mb-3">
                    <img src="./assets/akim.jpg"  style="width:100%">
                    <div class="container">
                      <br>
                      <h2 style="text-align:center" >AHMAD MUSTAQIM BIN AZMAN</h2>
                      <p class="title" style="text-align:center" >Administrator</p>
                      <p style="text-align:center" >📷: akimleo</p>
                    </div>
                  </div>
                  <br>
                <br>
                </div>
                
                </div>
              

             
        


